# dependencies
node_modules

# build output
lib
*.tsbuildinfo

# testing
coverage

# firebase
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
firebase-export-*

# env
.env
.env.*
!.env.example

# misc
.DS_Store
